.countryDiv{
    border: 2px solid blueviolet;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}